@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(oswald.woff) format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(oswald400.woff) format('woff');
}
body {margin:0;border:0;font-family: 'Oswald', sans-serif;font-weight:300;}   
a {text-decoration:none}
img {border:none}
.clear {clear:both;height:0}
.container {position:relative;min-width:1101px;width:100%;background:#4a6c00 url(../images/bg.jpg) center top no-repeat;}
.header {position:relative;height:118px;width:1101px;margin:0 auto;}
.header_bg {position:relative;height:182px;width:1101px;background:url(../images/top.png) center top no-repeat;}
.logo {position:absolute;left:81px;top:35px}
.language {position:absolute;display:block;right:74px;top:37px;}
.language a {margin-left:8px;}
.language img {box-shadow:1px 1px 4px #a9a9a9;behavior: url("js/PIE-1.0.0/PIE.htc");}

.header ul {position:absolute;right:72px;bottom:89px;margin:0;border:0;padding:0;}
.header ul li {float:left;list-style:none;margin:0px 10px;}
.header ul li a {font-size:17px;color:#262626;}
.header ul li a:hover {color:#11a42d}

.photo_main {position:relative;height:574px;width:1101px;margin:0 auto;}
.photo_main_bg {position:relative;height:584px;width:1101px;background:url(../images/photo_main.png);}
.photo_main a {font-size:13px;color:#fff;font-weight:400;background:url(../images/transp.png);padding:0 0px 1px 5px;}
.photo_main a img {position:relative;left:6px}
.photo_main a.left {padding:0 5px 1px 0px;}
.photo_main a.left img {position:relative;left:-5px}
.link1 {position:absolute;left:68px;top:187px}
.link2 {position:absolute;left:275px;top:187px}
.link3 {position:absolute;left:505px;top:152px}
.link4 {position:absolute;left:857px;top:157px}
.link5 {position:absolute;left:421px;top:223px}
.link6 {position:absolute;left:467px;top:258px}
.link7 {position:absolute;left:437px;top:287px}
.link8 {position:absolute;left:208px;top:367px}
.link9 {position:absolute;left:695px;top:410px}

.content {position:relative;width:897px;font-size:13px;color:#5f5f5f;line-height:18px;font-family:tahoma;text-align:justify;background:url(../images/content.png) center repeat-y;padding:0 102px 0 102px;margin:0 auto;}
.content_top_bg {position:absolute;left:10px;top:-81px}
.title {position:relative;display:block;left:-102px;width:1101px;font-size:28px;color:#85b816;font-weight:400;line-height:38px;text-align:center;font-family: 'Oswald', sans-serif;font-weight:400;margin:28px 0;}
.title_leaves {background:url(../images/leaves.png)top center no-repeat;}
.wiecej {display:block;font-size:13px;text-align:center;margin:20px auto 28px auto;}
.wiecej span{color:#3f8c15;}
.wiecej a {color:#5f5f5f;}
.galeria {width:1001px;}
.galeria img {border:1px solid #55a01b;margin:0 34px 34px 0;}
.galeria_zobacz {position:relative;top:-20px}

.kontakt {float:left;width:310px;font-size:18px;color:#626262;font-family: 'Oswald', sans-serif;line-height:24px;font-weight:300}
.mapa {float:right;height:168px;width:569px;}

.footer {position:relative;left:-41px;min-height:127px;width:979px;font-size:12px;color:#7c7c7c;font-family: 'Oswald', sans-serif;text-align:center;background:url('../images/footer.jpg') left bottom no-repeat;padding:80px 0 18px 0;margin-top:25px}
.bottom_menu {position:relative;overflow:hidden;}
.bottom_menu ul {position:relative;float:left;left:50%;height:58px;margin:0;border:0;padding:0;}
.bottom_menu ul li {position:relative;float:left;right:50%;list-style:none;margin:0 10px;}
.bottom_menu ul li a {font-size:17px;color:#262626}
.bottom_menu ul li a:hover {color:#11a42d}
.footer img {position:relative;display:block;margin:0 auto 23px auto;}
.socialm {position:absolute;right:0;top:284px;width:39px;}
.socialm a {display:block;margin-bottom:1px}
.button_top {position:absolute;display:block;right:0;bottom:0px;height:45px;width:160px;background:url(../images/button_top.png);outline:none}